<html>
<body>
영화상영표<br><br>
</body>
<tbody id="tbody">
{{#moviesInfo}}
    <tr>
        <td>{{theaterId}}관</td>
        <td>{{name}}</td>
        <td>{{time}}</td>
        <td>총 좌석 : {{totalSeatNumber}}</td>
        <td>잔여좌석 : {{remainSeat}}</td>
        <a href="/reservation?theaterId={{theaterId}}&name={{name}}&time={{time}}" role="button">예매하기</a>
        <!--예매하기를 누르면 상영관번호, 영화명,시간을 던져줌-->

        <br>
    </tr>
{{/moviesInfo}}
</tbody>
</html>